body {
  /* overflow-y: hidden; Hide vertical scrollbar */
  overflow-x: hidden;
}

.App {
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.deliver-with-us {
  color: #fff;
}

.cont {
  margin-top: 4%;
  background-color: #b5a191;
  padding: 0.8%;
  font-size: 0.9em;
}

.bg-dark {
  background-color: #fba420 !important;
  padding: 2% !important;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-brand {
  color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #000 !important;
}
.navbar-dark .navbar-nav .nav-link:after {
  color: #000 !important;
}
.btn-warning {
  background-color: #0a142f !important;
  border-color: #0a142f !important;
  border-radius: 20px;
}

#nav-link-sign-up {
  padding: 15px;
}

/* Homepage */

.destination-input,
.about-text {
  width: 40%;
  margin: 15% auto;
}

.destination-input {
  width: 40%;
  margin: 15% auto;
}
.pickup-input {
  width: 40%;
  margin: 2% auto;
}
#homepage-second-div {
  width: 35%;
  margin: 10% auto;
}

.home-page-banner {
  background-image: url(../src/components/home/assets/home-page.png),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  /* background: rgba(0, 0, 0, 0.81); */
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  background-blend-mode: overlay;
  height: 100vh;
}
.element1-home,
.element2-home,
.element3-home {
  height: 100%;
  border-radius: 50px;
  padding: 8%;
  /* box-shadow: 10px 10px 5px #000; */
  color: #fff;
}
.element1-home {
  background-color: #0a142f;
}
.element2-home {
  background: #ff9900db;
}
.element3-home {
  background-color: #0a142f;
}

/* .homepage-text{
  width: 40%;
} */

#submit-button {
  width: 100%;
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important;
}

/* Form */
.form-control {
  padding-top: 0.9375rem !important;
  padding-bottom: 0.9375rem !important;
}

/* .form-control {
  -webkit-border-radius: 20 !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
} */

/* Footer */
.footer {
  background-color: #0a142f;
  text-align: left;
  padding-top: 3%;
  color: #fff;
  font-size: 0.75em;
}
#footer > p {
  font-size: 0.5em;
}

/* Nav bar */
#nav-link-sign-up {
  padding-top: 0;
  padding-bottom: 0;
}
nav.navbar.navbar-expand.navbar-dark.bg-dark.fixed-top {
  padding-bottom: 15px;
  padding-bottom: 15px;
}

/* About section */
.about {
  background-image: url(../src/components/about/assets/delivery.jpg),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  color: #fff;
}

/* about section for mission statement */
.mission-statement,
.vision-statement {
  text-align: left;
  background-color: #c4c4c4;
}
.about-heading {
  font-weight: bold;
}
h1 {
  font-size: 2.5em;
}
.abt-h3 {
  padding-left: 2%;
}
.read-more {
  margin-left: 2%;
  background: #0a142f !important;
  border-radius: 10px;
  color: #fff !important;
  border-color: #0a142f !important ;
  padding-top: 0.8375rem !important;
  padding-bottom: 0.8375rem !important;
}
#para {
  padding-top: 7px !important;
}

.core-values {
  width: 48%;
  margin-right: 1.5%;
  padding: 5%;
  margin-bottom: 3%;
  background: #ffa724;
  border-radius: 50px;
}

/* Login form */
.login-form,
.sign-up-form {
  width: 40%;
  margin: auto;
}

.btn-primary {
  background-color: #cebb9e !important;
  border-color: #cebb9e !important;
  padding-top: 0.8375rem !important;
  padding-bottom: 0.8375rem !important;
}

/* Sign up */
.sign-up,
.login {
  background-color: #0a142f;
  height: 100vh;
}

/* card  */
.card {
  top: 100px;
}

/* delivery component */
.small,
.medium,
.large {
  padding: 0.8%;
  color: #fff;
}
.delivery-para {
  padding-top: 10px;
}
.small {
  background-color: #0a142f;
  border-radius: 5px 0 0 5px;
}
.medium,
.large {
  background: #ffa724;
}
.large {
  border-radius: 0 5px 5px 0;
}

.delivery-size {
  width: 96%;
  margin: auto;
}
.delivery-details {
  width: 100%;
  margin: 2% auto;
  border-radius: 5px;
  padding: 0.6%;
  background-color: #e8e8e8;
}

.btn-continue {
  background: #ffa724 !important;
  color: #fff !important;
  width: 100%;
}

/* Tracking */
.delivery {
  width: 30%;
  margin: 6% auto;
}
.App-link {
  color: #61dafb;
}

/* Link */
a {
  text-decoration: none;
}

.input-group-text {
  background: #ffa724 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home-page-image {
    height: 100%;
    width: 100%;
  }
  .div-three {
    margin-top: 5%;
    display: block;
  	margin-left: auto;
	margin-right: auto;
  }
  .value-container {
    width: 100%;
  }
  #value-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .element1-home,
  .element2-home {
    width: 100% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .home-page-image {
    height: 100%;
    width: 100%;
  }
  .div-three {
    margin-top: 5%;
    display: block;
  	margin-left: auto;
	margin-right: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
